<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>88673707135-pfth85jj15eub7ldes507lmkg80f7j96.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88673707135-pfth85jj15eub7ldes507lmkg80f7j96</string>
	<key>API_KEY</key>
	<string>AIzaSyAO0HfK9wWWsPhzfw_lUmntIL23z7Nsm14</string>
	<key>GCM_SENDER_ID</key>
	<string>88673707135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nunoforjaz.storee</string>
	<key>PROJECT_ID</key>
	<string>storee-c7d43</string>
	<key>STORAGE_BUCKET</key>
	<string>storee-c7d43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88673707135:ios:6703301ca5eac864</string>
	<key>DATABASE_URL</key>
	<string>https://storee-c7d43.firebaseio.com</string>
</dict>
</plist>